body{
    font-family: Arial;
    padding: 20px;
 }
 
 .dashboard{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
 }
 
 .card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
 }
 
 input, button{
    display: block;
    margin: 10px 0;
    padding: 10px;
 }